.header {
  background-color: #18629F;
  margin-top: 0;
}
.logo {
  height: 300px;
  padding-left: 20%;
}

.profile {
  height: 300px;
  margin-left: 15%;
  border: 20px solid ;
  border-color: black;
  
}

.footer {
  background-color: #18629F;
  bottom: 0;
  margin-bottom: 0;
  margin-top: 16%;
  width: 100%;
  height: 10%;
}