body{
  background-image: url(/whitey.png);
}

.header {
  background-color: #18629F;
  /* margin-top: 0; */
}
.logo {
  /* height: 300px; */
  width: 60%;
  padding-left: 20%;
}

.profile {
  /* height: 300px; */
  width: 20%;
  margin-left: 15%;
  border: 10px solid ;
  border-color: black;
}

.footer {
  background-color: #18629F;
  text-align-last: center;
  bottom: 0;
  margin-bottom: 0;
  margin-top: 1%;
  width: 100%;
  /* height: 10%; */
}

.home {
  text-align-last: center;
}

.player {
  margin: 5%;
  text-align: center;
}

.icon{
margin:0.2%;
}
.rights{
  position: -ms-page;
  bottom: 0;
  margin-bottom: 0;
  text-align: center;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}