body{
  background-image: url(/whitey.png);
}

.header {
  background-color: #18629F;
  margin-top: 0;
}
.logo {
  height: 300px;
  padding-left: 20%;
}

.profile {
  height: 300px;
  margin-left: 15%;
  border: 20px solid ;
  border-color: black;
}

.footer {
  background-color: #18629F;
  text-align-last: center;
  bottom: 0;
  margin-bottom: 0;
  /* margin-top: 16%; */
  width: 100%;
  /* height: 10%; */
}

.home {
  text-align-last: center;
}

.player {
  margin: 5%;
  text-align: center;
}

.icon{
margin:0.2%;
}
.rights{
  position: -ms-page;
  bottom: 0;
  margin-bottom: 0;
  text-align: center;
}
